*
{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: Times New Roman;
	width: 100%;
	background: #1b0e58;
	color: white;
  text-align: center;
}

h1
{
  margin-top: 300px;
}